@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px
}

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body{
    background-color: cornflowerblue;
    min-height: 100vh;
}

header{
    background-color: black;
    color: white;
    font-size: 1.5em;
    padding: 15px 25px;
    text-align: center;
}
header > h1{
    font-family: 'Righteous', cursive;
    padding-top: 50px;
}
header > p{
    padding-bottom: 50px;
}


section{
    font-family: 'Righteous', cursive;
    padding-top: 5vh;
    padding-bottom: 5vh;
    line-height: 2.5em;
    padding-left: 30px;
}

section.img > p{
    background-color: rgba(34, 34, 34, 0.541);
    color: white;
    width: 300px;
}

.img{
    background: black url("img/background001.jpg") center center no-repeat fixed ;
    color: white;
}
footer{
    background-color: rgba(58, 57, 57, 0.815);
    text-align: center;
    padding: 10px;
}
footer a{
    text-decoration: none;
    
}
