@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}
*{
    margin: 0px;
    padding: 0px;
}
body, html{
    background-color: darkgray;
    height: 100vh;
}
header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px 0px 40px 0px;
}
header a {
    color: white;
    text-decoration: none;
}
header a:hover{
    text-decoration: underline;
    color: white;
}
section{
    padding: 20px;
    font-size: 1.5em;
    font-family: var(--fonte3);
    padding-bottom: 45px;
}
section.normal{

}

section.imagem p{
    background-color: rgba(146, 146, 146, 0.74);
    width: 425px;

}
section.imagem{
    background-color: rgb(131, 130, 130);

}
footer{
    background-color: black;
    padding: 15px;
    text-align: center;
    color: white;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
    font-size: 1.1em;
}
