@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: darkgray;
    height: 100vh;
}

header{
    background-color: black;
    color: white;
    font-size: 1.5em;
    padding: 15px 25px;
    text-align: center;
}
header > h1{
    font-family:var(--fonte2);
    padding-top: 50px;
}
header  p{
    padding-bottom: 50px;
    font-family: var(--fonte3);
}

header a {
    text-decoration: none;
    color: azure;
}
header a:hover{
    text-decoration: underline;
    color: white;
}
header a:active{
    color: rgb(37, 96, 124);
}
section{
    font-family: var(--fonte3);
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 2.5em;
    padding-left: 30px;
    font-size: 1.5em;
}

section.img1 > p{
    background-color: rgba(34, 34, 34, 0.541);
    color: white;
    width: 450px;
}

section.img2 > p{
    background-color: rgba(34, 34, 34, 0.541);
    color: white;
    width: 450px;
}
.img1{
    background-color: black;
    background-image: url("img/background001.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.img2{
    background-color: black;
    background-image: url("img/background002.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


}
footer{
    background-color: rgba(58, 57, 57, 0.815);
    text-align: center;
    padding: 10px;
    }
footer a{
    text-decoration: none;
    color: black;

}
footer a:hover{
    color: white;
}